<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include ('../partials/links-css-styles-comunes.ejs') %>

    <%- include ('../partials/scripts-comunes.ejs') %>

    <title>Listado de areas</title>
</head>
<body>

    <header>

        <%- include ('../partials/header.ejs') %>

    </header>

    <main>

        <%- include ('../partials/accesosDirecto.ejs') %>

        <h1>LISTADO DE LAS AREAS</h1>

    </main>

    <footer>
        <%- include ('../partials/footer.ejs') %>
    </footer>

    
</body>
</html> 