<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include ('../partials/links-css-styles-comunes.ejs') %>
    <%- include ('../partials/formularios-styles.ejs') %>

    <%- include ('../partials/scripts-comunes.ejs') %>

    <title>Edición de operadores</title>
</head>
<body>

    <header>
        
        <%- include ('../partials/header.ejs') %>

    </header>

    <main>
        <%- include ('../partials/accesosDirecto.ejs') %>
        <h3 class="formulario_title">EDICIÓN DE UN OPERADOR</h3>
        <form class="formulario" action="/operadores/editar/<%= operadorEncontrado.id %>?_method=put" method="post" >
            <div class="formulario_div">
                <label for="cuil" class="formulario_label">CUIL:</label>
                <input type="text" class="formulario_input" name="id" id="cuil" value="<%= operadorEncontrado.id %>">
            </div>
            <div class="formulario_div">
                <label for="nombre" class="formulario_label">NOMBRE:</label>
                <input type="text" class="formulario_input" id="nombre" name="nombre" value="<%= operadorEncontrado.nombre %>">
            </div>
            <div class="formulario_div">
                <label for="apellido" class="formulario_label">APELLIDO:</label>
                <input type="text" class="formulario_input" id="apellido" name="apellido" value="<%= operadorEncontrado.apellido %>">
            </div>
            <div class="formulario_div">
                <label for="email" class="formulario_label">EMAIL:</label>
                <input type="email" class="formulario_input" id="email" name="email" value="<%= operadorEncontrado.email %>">
            </div>
            <div class="formulario_div-buttons">
                <button class="formulario_button" type="submit">EDITAR</button>
            </div>
        </form>
    </main>

    <footer>

        <%- include ('../partials/footer.ejs') %>

    </footer>
    
</body>
</html>