<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include ('../partials/links-css-styles-comunes.ejs') %>
    <%- include ('../partials/tablas-styles.ejs') %>

    <%- include ('../partials/scripts-comunes.ejs') %>

    <title>Listado de usuarios</title>
</head>
<body>

    <header>

        <%- include ('../partials/header.ejs') %>

    </header>

    <main>

        <%- include ('../partials/accesosDirecto.ejs') %>

        <h3 class="tabla_titulo">LISTADO DE LOS USUARIOS</h3>

        <table class="tabla">
            <thead>
                <tr class="tabla_fila">
                    <th class="tabla_encabezado">CUIL</th>
                    <th class="tabla_encabezado">NOMBRE</th>
                    <th class="tabla_encabezado">APELLIDO</th>
                    <th class="tabla_encabezado">E-MAIL</th>
                    <th class="tabla_encabezado">DEPENDENCIA</th>
                    <th class="tabla_encabezado">EDITAR</th>
                    <th class="tabla_encabezado">ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <% listadoUsuarios.forEach((usuario)=>{ %>
                    <tr class="tabla_fila">
                        <td class="tabla_dato"><%= usuario.id %> </td>
                        <td class="tabla_dato"><%= usuario.nombre %> </td>
                        <td class="tabla_dato"><%= usuario.apellido %> </td>
                        <td class="tabla_dato"><%= usuario.email %> </td>
                        <td class="tabla_dato"><%= usuario.dependencia_id %> </td>
                        <td class="tabla_dato">
                            <a href="/usuarios/editar/<%= usuario.id %>"><i class="fa-solid fa-pen-to-square"></i></a>                        
                        </td>
                        <td class="tabla_dato">
                            <form action="/usuarios/eliminar/<%= usuario.id %>?_method=delete" method="post">
                                <button><i class="fa-solid fa-trash-can"></i></button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

    </main>

    <footer>
        <%- include ('../partials/footer.ejs') %>
    </footer>

    
</body>
</html> 