<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <%- include ('../partials/links-css-styles-comunes.ejs') %>
    <%- include ('../partials/tablas-styles.ejs') %>

    <%- include ('../partials/scripts-comunes.ejs') %>

    <title>Listado de dependencias</title>
</head>
<body>

    <header>

        <%- include ('../partials/header.ejs') %>

    </header>

    <main>

        <%- include ('../partials/accesosDirecto.ejs') %>

        <h3 class="tabla_titulo">LISTADO DE LAS DEPENDENCIAS</h3>

        <table class="tabla">
            <thead>
                <tr class="tabla_fila">
                    <th class="tabla_encabezado">CODIGO</th>
                    <th class="tabla_encabezado">NOMBRE</th>
                    <th class="tabla_encabezado">EMAIL</th>
                    <th class="tabla_encabezado">PISO</th>
                    <th class="tabla_encabezado">LADO</th>
                    <th class="tabla_encabezado">EDITAR</th>
                    <th class="tabla_encabezado">ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <% listadoDependencias.forEach((dependencia)=>{ %>
                    <tr class="tabla_fila">
                        <td class="tabla_dato"><%= dependencia.id %> </td>
                        <td class="tabla_dato"><%= dependencia.nombre %> </td>
                        <td class="tabla_dato"><%= dependencia.email %> </td>
                        <td class="tabla_dato"><%= dependencia.piso %> </td>
                        <td class="tabla_dato"><%= dependencia.lado %> </td>
                        <td class="tabla_dato"><i class="fa-solid fa-pen-to-square"></i></td>
                        <td class="tabla_dato"><i class="fa-solid fa-trash-can"></i></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

    </main>

    <footer>
        <%- include ('../partials/footer.ejs') %>
    </footer>

    
</body>
</html> 