<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include ('../partials/links-css-styles-comunes.ejs') %>
    <%- include ('../partials/formularios-styles.ejs') %>

    <%- include ('../partials/scripts-comunes.ejs') %>

    <title>Alta de dependencia</title>
</head>
<body>

    <header>
        
        <%- include ('../partials/header.ejs') %>

    </header>

    <main>

        <%- include ('../partials/accesosDirecto.ejs') %>
        <h3 class="formulario_title">ALTA DE DEPENDENCIA</h3>
        <form action="/dependencias/crear" class="formulario" method="post">
            <div class="formulario_div">
                <label class="formulario_label" for="codigo">CODIGO:</label>
                <input class="formulario_input" type="text" name="id" id="codigo">
            </div>
            <div class="formulario_div">
                <label class="formulario_label" for="nombre">NOMBRE:</label>
                <input class="formulario_input" type="text" name="nombre" id="nombre">
            </div>
            <div class="formulario_div">
                <label class="formulario_label" for="email">EMAIL:</label>
                <input class="formulario_input" type="text" name="email" id="email">
            </div>
            <div class="formulario_div">
                <label class="formulario_label" for="piso">PISO:</label>
                <input class="formulario_input" type="text" name="piso" id="piso">
            </div>
            <div class="formulario_div">
                <label class="formulario_label" for="lado">LADO:</label>
                <input class="formulario_input" type="text" name="lado" id="lado">
            </div>
            <div class="formulario_div-buttons">
                <button class="formulario_button" type="submit">CREAR</button>
                <button class="formulario_button" type="reset">BORRAR FORMULARIO</button>
            </div>
        </form>
    </main>

    <footer>

        <%- include ('../partials/footer.ejs') %>

    </footer>

</body>
</html>