<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include ('../partials/links-css-styles-comunes.ejs') %>
    <%- include ('../partials/formularios-styles.ejs') %>


    <%- include ('../partials/scripts-comunes.ejs') %>

    <title>Edicion de dependencias</title>
</head>
<body>
    <header>  
        <%- include ('../partials/header.ejs') %>
    </header>
    
    <main>

        <%- include ('../partials/accesosDirecto.ejs') %>

        <h3 class="formulario_title">EDICIÓN DE DEPENDENCIA </h3>

        <form class="formulario" action="/dependencias/editar/<%= dependenciaEncontrada.id %>?_method=put" method="post">
            <div class="formulario_div">
                <label class="formulario_label" for="codigo">CODIGO:</label>
                <input class="formulario_input" type="text" name="id" id="codigo" value="<%= dependenciaEncontrada.id %>">
            </div>
            <div class="formulario_div">
                <label class="formulario_label" for="nombre">NOMBRE:</label>
                <input class="formulario_input" type="text" name="nombre" id="nombre" value="<%= dependenciaEncontrada.nombre %>">
            </div>
            <div class="formulario_div">
                <label class="formulario_label" for="email">EMAIL:</label>
                <input class="formulario_input" type="text" name="email" id="email" value="<%= dependenciaEncontrada.email %>">
            </div>
            <div class="formulario_div">
                <label class="formulario_label" for="piso">PISO:</label>
                <input class="formulario_input" type="text" name="piso" id="piso" value="<%= dependenciaEncontrada.piso %>">
            </div>
            <div class="formulario_div">
                <label class="formulario_label" for="lado">LADO:</label>
                <input class="formulario_input" type="text" name="lado" id="lado" value="<%= dependenciaEncontrada.lado %>">
            </div>
            <div class="formulario_div">
                <label class="formulario_label" for="observaciones">OBSERVACIONES:</label>
                <textarea class="formulario_input" name="observaciones" id="observaciones"> <%= dependenciaEncontrada.observaciones %> </textarea>
            </div>
            <div class="formulario_div-buttons">
                <button class="formulario_button" type="submit">EDITAR</button>
            </div>
        </form>
    </main>    

    <footer>
            <%- include ('../partials/footer.ejs') %>
    </footer>
</body>
</html>